{% if render_title %}
{% if versiondata.version == "Unreleased" %}
Unreleased
{{ top_underline * 10 }}
{% else %}
{% set title = "`" ~ versiondata.version ~ " <https://github.com/getlogbook/logbook/releases/tag/" ~ versiondata.version ~ ">`_ - " ~ versiondata.date %}
{{ title }}
{{ top_underline * title|length }}
{% endif %}
{% endif %}
{% for section, _ in sections.items() %}
{% set underline = underlines[0] %}{% if section %}{{section}}
{{ underline * section|length }}{% set underline = underlines[1] %}

{% endif %}

{% if sections[section] %}
{% for category, val in definitions.items() if category in sections[section]%}
{{ definitions[category]['name'] }}
{{ underline * definitions[category]['name']|length }}

{% for text, values in sections[section][category].items() %}
- {% if text %}{{ text }}{% if values %} ({{ values|join(', ') }}){% endif %}{% else %}{{ values|join(', ') }}{% endif  %}

{% endfor %}

{% if sections[section][category]|length == 0 %}
No significant changes.

{% else %}
{% endif %}

{% endfor %}
{% else %}
No significant changes.


{% endif %}
{% endfor %}
