---
name: CI

permissions:
  contents: read

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

env:
  FORCE_COLOR: "1"
  UV_PYTHON_DOWNLOADS: "false"

jobs:
  linux:
    name: "Linux (${{ matrix.python-version }})"
    runs-on: "ubuntu-latest"

    services:
      redis:
        image: redis:8
        ports:
          - 6379:6379
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0
        with:
          persist-credentials: false
      - uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c" # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
          allow-prereleases: true
      - uses: "astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41" # v7.1.2
        with:
          enable-cache: true
      - run: rustup component add llvm-tools-preview
      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          uv sync --no-install-project --no-dev --group nox

      - name: "Run nox targets for ${{ matrix.python-version }}"
        run: "uv run nox --python ${{ matrix.python-version }} -v -- -r aR"
      - name: "Convert coverage"
        run: |
          uv run coverage combine
          uv run coverage xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  windows:
    name: "Windows (${{ matrix.python-version }}, ${{ matrix.arch }})"
    runs-on: "windows-latest"

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        arch: ["x86", "x64"]

    env:
      ENABLE_LOGBOOK_NTEVENTLOG_TESTS: "1"

    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0
        with:
          persist-credentials: false
      - uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c" # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
          architecture: "${{ matrix.arch }}"
          allow-prereleases: true
      - uses: "astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41" # v7.1.2
        with:
          enable-cache: true

      - run: rustup component add llvm-tools-preview
      - run: python -VV
      - run: python -m site
      - run: uv sync --no-install-project --no-dev --group nox
      - name: "Run nox targets for ${{ matrix.python-version }} on ${{ matrix.arch }}"
        run: "uv run nox --python ${{ matrix.python-version }} -v -k 'not rust' -- -r aR -k 'not redis'"
      - run: uv run coverage combine
      - run: uv run coverage xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  macos:
    name: "macOS (${{ matrix.python-version }})"
    runs-on: "macos-latest"

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]

    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0
        with:
          persist-credentials: false
      - uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c" # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
          architecture: "${{ matrix.arch }}"
          allow-prereleases: true
      - uses: "astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41" # v7.1.2
        with:
          enable-cache: true
      - run: rustup component add llvm-tools-preview
      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          python -m site
          uv sync --no-install-project --no-dev --group nox

      - name: "Run nox targets for ${{ matrix.python-version }}"
        run: "uv run nox --python ${{ matrix.python-version }} -v -- -r aR -k 'not redis'"
      - name: "Convert coverage"
        run: |
          uv run coverage combine
          uv run coverage xml
      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5.5.1
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1

  msrv:
    name: "Python ${{ matrix.python-version }} with Rust ${{ matrix.rust-version }}"
    runs-on: "ubuntu-latest"

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.9", "3.10", "3.11", "3.12", "3.13", "3.14"]
        rust-version: ["1.74.0"]

    steps:
      - uses: "actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8" # v5.0.0
      - uses: "astral-sh/setup-uv@85856786d1ce8acfbcc2f13a5f3fbd6b938f9f41" # v7.1.2
      - uses: "actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c" # v6.0.0
        with:
          python-version: "${{ matrix.python-version }}"
          allow-prereleases: true
      - uses: dtolnay/rust-toolchain@6d653acede28d24f02e3cd41383119e8b1b35921
        with:
          toolchain: ${{ matrix.rust-version }}
      - run: rustup component add llvm-tools-preview
      - name: "Install dependencies"
        run: |
          set -xe
          python -VV
          rustc --version
          python -m site
          uv --version
          uv sync --no-install-project --no-dev --group nox
      - name: "Run nox"
        run: "uv run nox --python ${{ matrix.python-version }} -v -k 'not nospeedups' -- -r aR -k 'not redis'"
